<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Colombia System Smoke Test Automation Suite">
	<!-- <suite name="Suite" parallel="true"> -->
	<!-- <suite name="Suite" parallel = "classes" thread-count = "2"> -->
	<!-- <suite name="Suite" thread-count="3" parallel="methods"> -->
	<listeners>
		<listener
			class-name="com.buddi.colombia.listeners.TestListener" />
	</listeners>

	<parameter name="browser" value="chromedriver"></parameter>
	<parameter name="SuiteName" value="ChromeSuite"></parameter>
	<!-- <parameter name="driverPath" value="drivers/chromedriver.exe"></parameter> -->

	<test name="App">
		<classes>
			<!-- <class name="com.buddi.colombiaapp.tests.LoginColombiaAppTest"/> -->
		</classes>
	</test>
	
	<test name="Login HD Portal">
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalLoginTest" />
		</classes>
	</test>

	<test name="HD Portal Home Page">
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalHomeTest" />
		</classes>
	</test>
	
	<test name="HD Portal New Alerts">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManageNewManualAlertsTest" />
		</classes>
	</test>
	
	<test name="HD Portal In Progress Alerts">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManageInProgressAlertsTest" />
		</classes>
	</test>
	
	<test name="HD Portal Alert History">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManageAlertHistoryTest" />
		</classes>
	</test>
	
	<test name="HD Portal Manage Pending Visits">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManagePendingVisitsTest" />
		</classes>
	</test>

	<test name="HD Portal Add New Visit">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManageAddNewVisitsTest" />
		</classes>
	</test>

	<test name="HD Portal Manage User Groups">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManageUserGroupsTest" />
		</classes>
	</test>

		<test name="HD Portal Manage Knowledge Base">
		<classes>
			<class
				name="com.buddi.hdportal.tests.HDPortalManageKnowledgeBaseTest" />
		</classes>
	</test>

</suite> 
