<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Colombia System Smoke Test Automation Suite" >
<!-- <suite name="Suite" parallel="true"> -->
<!-- <suite name="Suite" parallel = "classes" thread-count = "2"> -->
<!-- <suite name="Suite" thread-count="3" parallel="methods"> -->
	<listeners>
		<listener class-name="com.buddi.colombia.listeners.TestListener" />
	</listeners>

	<parameter name="browser" value="chromedriver"></parameter>
	<parameter name="SuiteName" value="ChromeSuite"></parameter>
	<!-- <parameter name="driverPath" value="drivers/chromedriver.exe"></parameter> -->

	<test name="Tests">

		<!-- <groups> 
			<run> 
			<include name="Smoke" /> 
			<include name="Functional" /> 
			<exclude name="Regression" /> 
			</run> 
		</groups> -->
		<!-- <parameter name="username" value="Irfan: user name from xml" />
		<parameter name="password" value="Password: password is from xml" /> -->		
		<classes>
			<!-- <class name="com.buddi.colombiaapp.tests.LoginColombiaAppTest"/> -->
			<class name="com.buddi.hdportal.tests.HDPortalLoginTest" />
			<class name="com.buddi.hdportal.tests.HDPortalHomeTest" />
			<class name="com.buddi.hdportal.tests.HDPortalManageManualAlertsTest" />
			<class name="com.buddi.hdportal.tests.HDPortalManageUserGroupsTest" />
		</classes>
	</test> <!-- Test -->
	

</suite> <!-- Suite -->
