<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Colombia System Smoke Test Automation Suite"
	preserve-order="true">

	<!-- <suite name="Suite" parallel="true"> -->
	<!-- <suite name="Suite" parallel = "classes" thread-count = "2"> -->
	<!-- <suite name="Suite" thread-count="3" parallel="methods"> -->

	<!-- If project has multiple classes adding Listeners to each one of them could be cumbersome and error prone.
	In such cases, add listeners tag in testng xml -->
	<listeners>
		<listener class-name="com.buddi.colombia.listeners.TestListener" />
	</listeners>
 	
 	
 	<!-- Listener for pdf: Reference URL: https://www.inviul.com/pdf-report-selenium-itext/ -->
 	<!-- <listeners>
 		<listener class-name="com.buddi.colombia.pdfreport.SeleniumPDFReportWithIReporter"/>
 		<listener class-name="com.buddi.colombia.pdfreport.TestListener"/>
	</listeners> -->
 	
	<parameter name="browser" value="chromedriver"></parameter>
	<parameter name="SuiteName" value="ChromeSuite"></parameter>
	<!-- <parameter name="driverPath" value="drivers/chromedriver.exe"></parameter> -->

	<test name="App">
		<classes>
			<class name="com.buddi.colombiaapp.tests.LoginColombiaAppTest"/>
		</classes>
	</test>
<!-- 
	<test name="Login HD Portal">
		<groups>
			<run>
				<include name="Smoke" />
				<exclude name=".*exclude" />
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalLoginTest" />
		</classes>
	</test>

	<test name="HD Portal Home Page">
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalHomeTest" />
		</classes>
	</test>

	<test name="HD Portal New Alerts">
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManageNewManualAlertsTest" />
		</classes>
	</test>

	<test name="HD Portal In Progress Alerts">
		<groups>
			<run>
				<include name="Smoke" /> 
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManageInProgressAlertsTest" />
		</classes>
	</test>

	<test name="HD Portal Alert History">
		<groups>
			<run>
				<include name="Smoke" /> 
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManageAlertHistoryTest" />
		</classes>
	</test>

	<test name="HD Portal Manage Pending Visits">
		<groups>
			<run>
				<include name="Smoke" /> 
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManagePendingVisitsTest" />
		</classes>
	</test>

	<test name="HD Portal Add New Visit">
		<groups>
			<run>
				<include name="Smoke" /> 
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManageAddNewVisitsTest" />
		</classes>
	</test>

	<test name="HD Portal Manage User Groups">
		<groups>
			<run>
				<include name="Smoke" /> 
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManageUserGroupsTest" />
		</classes>
	</test>

	<test name="HD Portal Manage Knowledge Base">
		<groups>
			<run>
				<include name="Smoke" /> 
			</run>
		</groups>
		<classes>
			<class name="com.buddi.hdportal.tests.HDPortalManageKnowledgeBaseTest" />
		</classes>
	</test> -->

</suite> 
